@using MVCAddressBook.Services.Interfaces
@inject IImageService imageService

@model MVCAddressBook.Models.ViewModels.ContactIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container glass-style lightGlass mt-2 m-2 p-2">
    <div class="row row-cols-1 row-cols-md-4 gy-2">
        <div class="col-12 col-md-4">

            <form method="post" class="flex" asp-controller="Contacts" asp-action="SearchContacts">
                <input type="text" name="searchString" class="form-control" placeholder="Search..." />
                <button class="btn btn-dark" type="submit">Search</button>
            </form>

        </div>
        <div class="col-12 col-md-4">
            <form method="post" class="flex" asp-controller="Contacts" asp-action="FilterContacts">
                <select name="categoryId" class="form-select" asp-items="Model.CategoryFilter">
                    <option>Choose a category</option>
                </select>
                <button class="btn btn-dark" type="submit">Filter</button>
            </form>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-center justify-content-md-end">
            <a asp-action="Index" class="btn btn-dark">Reset Filters</a>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-center justify-content-md-end">
            <a asp-action="Create" class="btn btn-success">Add New Contact <i class="fas fa-plus-square text-light"></i></a>
        </div>
    </div>
</div>





<div class="row">

    @foreach (var item in Model.Contacts)
    {
    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-stretch">
        <div class="card glass-style lightGlass animate__animated animate__pulse m-2" style="width: 18rem;">
            
            <div class="container p-2">

                @if (item.ImageData is not null)
                {
                    <img src="@imageService.DecodeImage(item.ImageData, item.ImageType)" alt="Contact Photo" class="img-fluid card-img" />
                }
                else
                {
                    <img src="~/img/contact-placeholder.png" class="img-fluid card-img" />
                }

            </div>

            <div class="container p-2">
                <h4><b>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</b></h4>
                <p>
                    @Html.DisplayFor(modelItem => item.Phone)
                    <br />@Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State)
                </p>
                <p>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">View All Details</a>
                </p>
            </div>
        </div>
    </div>
    }

        
</div>



    
